@charset "UTF-8";

body{
    font-family: "游ゴシック体", "Yu Gothic" , YuGothic , sans-serif , "ヒラギノ角ゴ ProN";
}
.secTit{
    font-family: "游ゴシック体", "Yu Gothic" , YuGothic , sans-serif , "ヒラギノ角ゴ ProN";
    font-size: 35px;
    letter-spacing: 3px;
    padding-bottom: 40px;
}
.secTxt{
    font-family: "游ゴシック体", "Yu Gothic" , YuGothic , sans-serif , "ヒラギノ角ゴ ProN";
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 30px;
    padding-bottom: 10px;
}
a{
    text-decoration: none
}
a:hover{
    color: gray;
}
a:visited{
    color: black;
}
.secTit{
    font-weight: bold;
}
@media screen and (max-width:480px){
    .secTit{
        font-size: 25px;
        line-height: 40px;
        padding-bottom: 20px;
    }
}

/* 改行設定 */

.brPc{
    display: block;
}
.brSp{
    display: none;
}

@media screen and (max-width:650px) {
    .brPc{
        display: none;
    }
    .brSp{
        display: block;
    }
}

/* ヘッダーメニュー */

.header{
    height: 80px;
}

.headerMenu{
    width: 100%;
    position: fixed;
    font-size: 15px;
    background: #2a2a2a;
    padding: 15px;
    height: 50px;
    z-index: 1;
}
.headerMenu a:visited{
    color: #ffffff;
}
.headerMenu .secLogo{
    float: left;
    padding-left: 10px;
}
.headerMenu ul{
    float: right;
    padding: 10px 20px 0 0;
}
.headerMenu li{
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    color: #ffffff;
    padding: 0 15px;
}
.menuSp{
    display: none;
}
@media screen and (min-width:480px) and (max-width:1100px){
    .headerMenu li{
        padding: 0 7px;
    }
}
@media screen and (max-width:480px){
    .headerMenu .secLogo{
        width: 70%;
        padding-left: 0px;
    }
    .headerMenu .secLogo img{
        width: 100%;
    }
    .headerMenu ul{
        display: none;
    }
    .menuSp{
        display: block;
        float: right;
        padding: 7px 40px 0 0;
    }
}

/* メインイメージ */

.mainImg{
    background: no-repeat center top 0/100% url("../img/mainImg.png");
    background-size: 100% auto;
    text-align: center;
    color: #ffffff;
}
.mainImg .txt1{
    padding-top: 16%;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 5px;
}
.mainImg .txt2{
    padding-top: 3%;
    padding-bottom: 16%;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 5px;
}
@media screen and (max-width:480px){
    .mainImg .txt1{
        padding-top: 11%;
        font-size: 30px;
    }
    .mainImg .txt2{
        padding-top: 3%;
        font-size: 20px;
        line-height: 25px;
    }
}

/* 注文 */

.secOrder{
    text-align: center;
    margin: 70px 0 130px 0;
}
.secOrder .btn{
    margin-top: 60px;
}
.secOrder .btn a{
    background: #2a2a2a;
    padding: 25px 60px 25px 60px;
    color: #ffffff;
}
@media screen and (max-width:480px){
    .secOrder{
        margin: 10px 0 0 0;
    }
}

/* 宅配 */

.secDelivery{
    text-align: center;
    margin: 70px 0 100px 0;
}
@media screen and (max-width:480px){
    .secDelivery{
        margin: 70px 0 0 0; 
    }
}

/* 会員 */

.secMember{
    text-align: center;
    margin: 70px 0 130px 0;
}
.secMember .btn{
    margin-top: 60px;
}
.secMember .btn a{
    background: #2a2a2a;
    padding: 25px 60px 25px 60px;
    color: #ffffff;
}
@media screen and (max-width:480px){
    .secMember{
        margin: 50px 0 0 0; 
    }
}

/* スライダー */

.slider{
    margin: 100px auto;
    width: 90%;
}
.slider img{
    width: 100%;
    height: auto;
}
.slick-prev:before,
.slick-next:before {
    color: #000;
}
.slider .product{
    display: inline-block;
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}
.slider .price{
    display: inline-block;
    padding: 0 0 40px 0;
    font-size: 15px;
    color: #000;
}
@media screen and (max-width:480px){
    .slider{
        margin: 100px auto;
        width: 80%;
    }
}

/* アプリ */
.secApp{
    text-align: center;
    margin: 70px 0 100px 0;
}

/* フッター */

.footer{
    margin-top: 100px;
    height: 300px;
    background: #2a2a2a;
}